name: CI - Integracao Continua # Nome do Pipeline

on:
  push:
    branches:
      - main # Aciona em push para a branch principal

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout do codigo
      - name: 1. Checkout do repositorio
        uses: actions/checkout@v4
      
      # 2. Validacao (simulacao de teste)
      - name: 2. Validar Arquivo index.html (Simulacao de Teste)
        run: |
          if [ -f "site/index.html" ]; then
            echo "Validacao do arquivo de site OK."
          else
            echo "ERRO: Arquivo principal nao encontrado. CI Falhou."
            exit 1
          fi
          
      # 3. Geracao e Publicacao do Artefato
      - name: 3. Upload de Artefatos de Construcao
        uses: actions/upload-artifact@v4
        with:
          name: meu-site-estatico # Nome do pacote de arquivos
          path: site/ # Pasta a ser empacotada
          retention-days: 1